body{
    background-color: rgb(73, 5, 147);
}
header{
    background-color: rgb(0, 88, 252);
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(119, 0, 255, 0.2);
}
main {
    background: rgb(69, 3, 93);
    padding: 40px;
    margin: 30px auto;
    border-radius: 12px;
    max-width: 1000px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
ul {
    list-style: none;
    text-align: center;
    background-color: #fd00ec;
    padding: 15px 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
